<div id="container">
  <h1>@<%= @twitter %></h1>
  <p><%= @name %></p>
  <p><%= @timezone %></p>
  <p><%= @location %></p>

  <ul id="navlist">
    <li><%= link_to "#{@twitter}.com", "http://#{@twitter}.com", :target => "iframe_a" %></li>
    <% @sites.sort.each do |key, value| %>
      <li><%= link_to key.capitalize, value, :target => get_target(key) %></li>
    <% end %>
  </ul>
</div>

<iframe src="/default" name="iframe_a"></iframe>
